---
import ReactionGame from '../components/ReactionGame.jsx';
---

<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Test de Tiempo de Reacción</title>
	<style>
		body {
			margin: 0;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-family: Arial, sans-serif;
		}
	</style>
</head>
<body>
<ReactionGame client:load />
</body>
</html>